@import "tailwindcss";

@theme {
  --color-primary: #1a3556;
  --color-secondary: #818388;
  --color-background: #ffffff;
  --color-foreground: #1a3556;
  --color-accent: #dc1e25;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {

}


